ï»¿.xxbox
{
	width:950px; float:left;padding:10px;
}
.title3
{
	width:950px; height:30px; float:left;
}
.title3 ul
{
	height:30px; float: left;list-style: none ;
}
.title3 li
{
	width:86px; height:30px; float:left; text-align:center; color:#bb983b; line-height:37px; font-size:12px; margin-right:5px;list-style: none outside none;
}
#con_Three_1,#con_Three_2,#con_Three_3,#con_Three_4
{
	width:930px; *width:930px!important;*width:930px; float:left;
}
.xz_hover
{
	width:86px; height:30px; background: url(/portals/0/image/yqlj_hover.jpg) no-repeat ; font-size:12px; color:#d80306!important; font-weight:bold; line-height:37px; cursor:pointer;
}
.xz_out
{
	width:86px; height:30px; color:#bb983b;background: url(/portals/0/image/yqlj_out.jpg) no-repeat ; line-height:37px; font-size:12px; cursor:pointer;
}
.foot
{
	color:#ffffff; line-height:48px; text-align:center;margin-top:28px;height:60px;
}
.foot a:link
{
	color:#ffffff; line-height:48px; margin-left:5px; margin-right:5px;
}
.foot a:visited
{
	color:#ffffff; line-height:48px; margin-left:5px; margin-right:5px;
}
.foot a:hover
{
	color:#ffffff; line-height:48px; margin-left:5px; margin-right:5px;
}
.foot a:active
{
	color:#ffffff; line-height:48px; margin-left:5px; margin-right:5px;
}
.icpba
{
	text-align:center; margin-bottom:10px;
}
