/*!CK:3674529912!*//*1450655108,*/

a._5sap{text-decoration:none}

._1_lj{color:#4e5665;line-height:1.358;text-align:center}._1_lj:hover{text-decoration:none}div._1_lk{margin-left:0;margin-top:0}._1_lk ._5jmm{border:0;box-shadow:0 1px 2px rgba(0, 0, 0, .12);margin-bottom:0;margin-top:10px}._1_lk ._5jmm:first-of-type{margin-top:0}._1_lk ._2gy7{font-size:12px}._2f7y{padding-top:8px;text-align:center}
._1wnd{border-color:#ccc;font-size:14px;line-height:18px;white-space:nowrap;width:458px}
._2162{margin:0 12px}._2163{display:inline-block;line-height:1.358}._2164{border:0;margin:0;width:auto}._2165,._22v4{display:block}._2166{bottom:3px;position:relative}._2167{bottom:2px;position:relative}
._36iq{border-top:1px solid #f0f0f0;color:#7f7f7f;cursor:pointer;font-size:12px;font-weight:bold;line-height:16px;text-align:center}._2yf7{vertical-align:bottom}._36iq._4ivs{color:#5890ff}._2yf7._5jp{display:inline-block}._2yf7._3wdt{display:none}._4ivs ._5jp{display:none}._4ivs ._3wdt{display:inline-block}
._1p6f{display:block;width:100%}._1p6g{height:auto}._1p6h{height:100%;width:auto}
._523u{display:inline}
._55ra{background:#000;box-shadow:none;margin:0 auto}
._2l7q{background:#000;box-shadow:none}._2l7q img{margin:0 auto}
._2gn_{background-color:#232937;color:#fff;padding-bottom:56.25%;position:relative;text-align:center;text-shadow:1px 1px 0 rgba(20, 22, 26, .3)}._2go0{bottom:0;height:100px;left:0;margin:auto;position:absolute;right:0;top:0;width:80%}._2go6{font-size:14px;margin:16px auto;width:180px}._2go6 a,._2go6 a:hover{color:#fff;text-decoration:none}._3i0o{font-size:24px}._3i0p{font-size:16px;font-weight:normal}@media (min-width: 800px){._2go0{width:50%}}@media (max-width: 300px){._2go0{width:90%}}
._23ro{width:260px}._rwf{color:#fff}._rwg{color:#627aad}
._3fnw{height:100%;margin:0 auto}._3fnx{background-color:#000}._3fny{bottom:0;left:0;margin:auto;position:absolute;right:0;top:0}
._1sbl{font-family:helvetica, arial, sans-serif;font-size:14px;position:absolute;top:30%;width:100%}._3pq{color:#fff;display:table;margin:0 auto;max-width:60%;padding:36px;position:relative;text-align:center}.plugin ._1sbn{position:absolute;right:24px;top:24px}._1sbl ._t3m{bottom:10px;top:initial}
._5sjk._3htz{background-color:rgba(20, 22, 26, .7);color:#fff;display:none;font-family:helvetica, arial, sans-serif;padding:0;position:absolute;text-align:center;text-shadow:1px 1px 0 rgba(20, 22, 26, .3)}._3-n5 ._5sjk{display:block}
.sp_-y7gNm_kCVf{background-image:url(/rsrc.php/v2/yp/r/e4aollHVP-x.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_-y7gNm_kCVf.sx_058278{background-position:0 0}.sp_-y7gNm_kCVf.sx_5abeda{background-position:0 -17px}.sp_-y7gNm_kCVf.sx_46d79c{background-position:0 -34px}.sp_-y7gNm_kCVf.sx_65dcfc{background-position:0 -51px}.sp_-y7gNm_kCVf.sx_417ee8{background-position:0 -68px}.sp_-y7gNm_kCVf.sx_08fa29{background-position:0 -85px}.sp_-y7gNm_kCVf.sx_89175a{background-position:0 -102px}

#bootloader_LAecj{height:42px;}.bootloader_LAecj{display:block!important;}