/*!CK:266382315!*//*1448243910,*/

._50hf{color:#7f7f7f}
._2vaw{background-color:whitesmoke;border-left:1px solid #e5e5e5;display:table;height:190px;white-space:normal;width:137px}._2vay{display:table-cell;text-align:center;vertical-align:middle}
._l91 .FriendRequestAdd,._l91 .FriendRequestOutgoing{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;width:100px}._l91 .FriendRequestOutgoing{margin-left:0}._l92{display:block}._l95 ._l96{margin-top:5px;overflow:hidden}._l97{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;width:118px}._l97 ._50hf{display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}._l95{border-left:1px solid #e5e5e5;margin-bottom:7px;max-width:118px;padding-left:9px;padding-right:9px;vertical-align:top;white-space:normal}
a._5sap{text-decoration:none}

._1_lj{color:#4e5665;line-height:1.358;text-align:center}._1_lj:hover{text-decoration:none}div._1_lk{margin-left:0;margin-top:0}._1_lk ._5jmm{border:0;box-shadow:0 1px 2px rgba(0, 0, 0, .12);margin-bottom:0;margin-top:10px}._1_lk ._5jmm:first-of-type{margin-top:0}._1_lk ._2gy7{font-size:12px}._2f7y{padding-top:8px;text-align:center}
._2162{margin:0 12px}._2163{display:inline-block;line-height:1.358}._2164{border:0;margin:0;width:auto}._2165,._22v4{display:block}._2166{bottom:3px;position:relative}._2167{bottom:2px;position:relative}
._36iq{border-top:1px solid #f0f0f0;color:#7f7f7f;cursor:pointer;font-size:12px;font-weight:bold;line-height:16px;text-align:center}._2yf7{vertical-align:bottom}._36iq._4ivs{color:#5890ff}._2yf7._5jp{display:inline-block}._2yf7._3wdt{display:none}._4ivs ._5jp{display:none}._4ivs ._3wdt{display:inline-block}
._1p6f{display:block;width:100%}._1p6g{height:auto}._1p6h{height:100%;width:auto}
._523u{display:inline}
._2l7q{background:#000;box-shadow:none}._2l7q img{margin:0 auto}
._4nef .uiList .facepileAttachment{margin-right:2px}
._79k{display:inline-block;position:relative}._79l:after{border:1px solid rgba(0, 0, 0, .05);bottom:0;content:'';left:0;position:absolute;right:0;top:0}._79m,._79m:after{border-radius:2px}._79k ._79n{display:block}
.sp_NkydqW-OfG6{background-image:url(/rsrc.php/v2/yb/r/HgZXbj2ONyr.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_NkydqW-OfG6.sx_38b7b4{width:12px;height:12px;background-position:0 -158px}.sp_NkydqW-OfG6.sx_6ad2d8{width:12px;height:12px;background-position:0 -171px}.sp_NkydqW-OfG6.sx_cb6e9d{background-position:0 -19px}.sp_NkydqW-OfG6.sx_ddf45a{background-position:0 -36px}.sp_NkydqW-OfG6.sx_ddcf96{width:12px;height:12px;background-position:0 -184px}.sp_NkydqW-OfG6.sx_b5d3eb{background-position:0 -53px}.sp_NkydqW-OfG6.sx_cd29ad{background-position:0 -70px}.sp_NkydqW-OfG6.sx_0e209e{width:12px;height:12px;background-position:0 -197px}.sp_NkydqW-OfG6.sx_d8d03b{width:12px;height:12px;background-position:0 -210px}.sp_NkydqW-OfG6.sx_711ddc{background-position:0 -87px}.sp_NkydqW-OfG6.sx_10bc2c{background-position:0 -104px}.sp_NkydqW-OfG6.sx_c44a40{width:12px;height:12px;background-position:0 -223px}.sp_NkydqW-OfG6.sx_539439{height:8px;background-position:0 -121px}.sp_NkydqW-OfG6.sx_698e95{width:18px;height:18px;background-position:0 0}.sp_NkydqW-OfG6.sx_3f4140{width:8px;height:13px;background-position:-10px -144px}.sp_NkydqW-OfG6.sx_d6f449{width:11px;height:13px;background-position:0 -130px}.sp_NkydqW-OfG6.sx_e9a1de{width:9px;height:13px;background-position:0 -144px}

#bootloader_3VfcI { height: 42px; }
.bootloader_3VfcI { display:block !important; }