
<a id="DA_483414933342" class="mosaic--tile__link" href="">
  <p class="mosaic--tile__title"></p>
</a>
<script>
  require(['slotplacement/topic', 'jquery'], function (Topic, $) {
    var $ad = $("#DA_483414933342");
    var adParentId=$ad.parent().attr('id');
    var tripletLink, tripletImageAlt, tripletTitle, tripletCallToAction, adVariantContext;
    var imagePaths = {};
    Topic.subscribe('adUpdate', function (pageId, data) {
      injectAd(data);
    }); 
    Topic.subscribe('adError', function () {         
      injectAd({});
    });
    
    
    function tripletImageSrc (device, imagePaths, alt) {
      var size = (device === "small-mobile" ? "mobile" : "desktop");
      var src = "src='"+imagePaths[size]+"'";
      
      var alt = " alt='" + alt + "'";
      
      return "<img " + src + alt + " />";
    }
    
    function injectAd(data){  
      
      var _a = data._a ? data._a.split(',') : [];
      
      function hA(a) {
        if ($.inArray(a, _a) > -1) {
          return true;
        }
        return false;
      }
      
      var rules = {};
      
      
      
      
      
        tripletLink = "https://www.missionmainstreetgrants.com/";
        
          imagePaths["desktop"] = "/content/services/structured-image/image.desktop.png/XCRT/Triplets/CorpShared/342178_MMSG_2015_Trip_384x216_42016.png";
        
          imagePaths["mobile"] = "/content/services/structured-image/image.mobile.png/XCRT/Triplets/CorpShared/342178_MMSG_2015_Trip_384x216_42016.png";
        
        tripletImageAlt = "Chef\'s baking";
        tripletTitle = "Meet the 20 small businesses who received a total of $2 million in grants.";
        tripletCallToAction = "Meet the recipients";
        adVariantContext="tripletLinkId:default;tripletImageId:default;tripletTitleId:default;tripletCallToActionId:default";
      
      
      
      
      
      // Dynamic Ad Injection
      var device = $("body").data("device");
      $ad.prepend(tripletImageSrc(device, imagePaths, tripletImageAlt));
      $ad.attr("href", tripletLink);
      $ad.find(".mosaic--tile__title").text(tripletTitle);
      if (tripletCallToAction) {
        var $callToAction = $('<p class="mosaic--tile__slug"></p>');
        $callToAction.text(tripletCallToAction);
        $ad.append($callToAction);
      }
      Topic('placementComplete').publish(adParentId,adVariantContext);
      $(window).on("resize", function () {
        var currentDevice = $("body").attr("data-device");
        if (currentDevice !== device) { 
          device = currentDevice; 
          $ad.find("img").remove(); 
          $ad.prepend(tripletImageSrc(device, imagePaths, tripletImageAlt)); 
        }
      });
    }
  });
</script>