 <ul class="m-imglist imglist-130in310 imglist-li-mb13 interval-dot pb3 clearfix">
          <li><a href="http://gz.house.163.com/photonew/5N620087/66146.html"><img src="http://img2.cache.netease.com/house/2016/4/6/201604060818028b52f.jpg" alt="BRT´©Ô½Ò»³Ç·±»ªÂäÄ¯" width="130" height="90" />
      <p>BRT´©Ô½Ò»³Ç·±»ªÂäÄ¯</p>
      </a> 
      </li>
          <li><a href="http://bbs.gz.house.163.com/bbs/blbyc/603908107.html"><img src="http://img1.cache.netease.com/news/2016/4/9/20160409144452bb9bb.jpg" alt="»ÆÆÒ¹Å¸ÛÒ»ÈÕÓÎÕÙ¼¯" width="130" height="90" />
      <p>»ÆÆÒ¹Å¸ÛÒ»ÈÕÓÎÕÙ¼¯</p>
      </a> 
      </li>
  </ul>
<ul class="m-list list-main interval">
        <li class="hx"><a href="http://gz.house.163.com/16/0407/21/BK34KDDC0087482R.html">"½ðÈý"ÍêÃÀÊÕ¹Ù ¹ãÖÝÂ¥ÊÐÄÜ·ñÓ­"ÒøËÄ"£¿</a></li>
        <li><a href="http://gz.house.163.com/16/0408/13/BK4OG5N50087482R.html">³ÇÊÐ×ÛºÏÔËÓªÉÌºÏ¾°×ªÐÍ</a> <a target="_blank" href="http://gz.house.163.com/16/0409/14/BK7F3TCR0087482R.html">5Ãû½²Ê¦¸úÄãÁÄÉú»î</a></li>
        <li><a href="http://gz.house.163.com/16/0407/20/BK317CNC0087482R.html">ÌìºÓÁ¿¼ÛÆëÉý¼ÛÕÇ11%</a> <a target="_blank" href="http://gz.house.163.com/16/0407/20/BK2UD3EM0087482R.html">»ÆÆÒ1¼¾¶È³É½»±©ÕÇ83%</a></li>
        <li><a href="http://gz.house.163.com/16/0409/21/BK86KQ9S00873CN0.html">°ÂÔ°»Æ½ðÆÌ15·ÖÖÓÊÛóÀ</a> <a target="_blank" href="http://gz.house.163.com/16/0409/21/BK873FBM00873CN0.html">ºãÕ¹½­É½Ê±´úÈ¥»¯7³É</a></li>
        <li><a href="http://bbs.gz.house.163.com/bbs/house_0rep/604826835.html">¹ãÖÝµØÌú18ºÅÏß¹æ»®Í¼</a> <a target="_blank" href="http://bbs.gz.house.163.com/bbs/homeguide/604831502.html">ÎÔÊÒ×°ÐÞµÄÕâÐ©½û¼É</a></li>
    <li><a href="http://bbs.gz.house.163.com/photoalbum/showing/604849159.html">À±Âè10Íò×ö¾ªÑÞ×°ÐÞ</a> <a target="_blank" href="http://bbs.gz.house.163.com/bbs/discussion/604845496.html">ÀúÄêÀ´¿ª·¢ÉÌÇ¿²ð»¨ÕÐ</a></li>
    <li><a href="http://bbs.gz.house.163.com/bbs/jfll/604849758.html">¼Ò¾Ó×°ÐÞ10´óÉµÕÐ</a> <a target="_blank" href="http://bbs.gz.house.163.com/bbs/rights/605114374.html">Âò·¿ÕßÓ¦¸ÃÈçºÎÎ¬È¨£¿</a></li>
  </ul>
<div class="tab-ft"> <a href="http://xf.house.163.com/gz/#163-2-XFPD" class="i-entry">½øÈëÐÂ·¿ÆµµÀ</a> | <a href="http://gz.house.163.com/ztlist/">×¨Ìâ</a> | <a href="http://gz.house.163.com/special/00873CN3/xctgdmore.html">²ÈÅÌ</a> | <a href="http://gz.house.163.com/special/0087482R/sctsmore.html">×îÐÂÊÐ¿ö</a> </div>