/* Í¨ÐÐÖ¤ & ¾ØÕó */
#loginNav{height:22px;margin:0 auto 0;}
/* Í¨ÐÐÖ¤ */
#loginPP{width:500px;float:left;color:#000;}
/*ÉèÎªÊ×Ò³*/
#setIndex{width:120px;float:left;margin:6px 2px 0px 5px;}
#setIndex span{background:url(../images/icon01.png) -80px -20px;position:absolute;width:12px;height:12px;margin:0 5px;overflow:hidden;}
#setIndex a{margin-left:20px;}
/* ¾ØÕó */
#navRight{width:303px;float:right;margin-top:2px;display:block;height:22px;}
#navRight p{color:#FF9432;line-height:22px;text-align:right}
#navRight p a{color:#000;}

/* Ö÷µ¼º½ */
#mainNav{height:76px;}
#mainNav #sohuLogo h1 a{text-indent:-5000px;display:block;width:143px;height:67px;float:left;margin:0 auto;}
.sohuLogo{width:143px;height:76px;float:left;background:url(../images20140108/sohulogo.png) no-repeat;overflow:hidden;}

#mainNav #navList{width:807px;height:76px;float:left;background:url(../images20130716/bg01.png) 0 0 repeat-x;overflow:hidden;font-size:12px;}
#mainNav #navList li{float:left;display:inline;color:#000;line-height:20px;*line-height:22px}
#mainNav #navList li a{color:#000;}
#mainNav #navList li a:hover{color:#c00;}
#mainNav #navList .red a{color:#c00;}
#mainNav #navList .fontArial{font-family:"Arial";line-height:20px;*line-height:18px}
#mainNav #navList .nav1{margin-top:3px;clear:both;overflow:hidden;height:24px;}
#mainNav #navList .nav1 li{margin-right:8px}
#mainNav #navList .nav2{margin-top:3px;clear:both;overflow:hidden;height:22px}
#mainNav #navList .nav2 li{margin-right:9px}
#mainNav #navList .nav3{clear:both;overflow:hidden;height:22px}
#mainNav #navList .nav3 li{margin-right:14px}
#mainNav #navList ul{padding-left:7px}
#mainNav #navList li.navEnd{margin:0}

/*  ¹ã¸æÇø  */
#ad_TOP{margin:0 auto;width:948px;_width /*IE5.5*/:950px;height:230px;border:1px #D9D9D9 solid;background:#fff;}/* Ê×ÆÁ¹ã¸æÇø */
/* ×ó160x185 */
#ad_A{width:160px;height:205px;text-align:left;margin:0 auto;_margin /*IE5.5*/:0 auto;padding-top:12px;}
#ad_A .ad160x185{margin:0 auto;}
/* 760x100 Ò»Í¨À¸*/
#ad_B{background:#fff;width:760px;height:100px;text-align:left;margin:0 auto;_margin /*IE5.5*/:0 auto;padding-bottom:10px;float:left;}
#ad_B .ad760x100{margin:0 auto;}
/* 160x260 Ê×ÆÁÓÒ*/
#ad_C{width:160px;height:260px;text-align:left;margin:0 auto;_margin /*IE5.5*/:0 auto;padding-top:10px;}
#ad_C .ad160x260{margin:0 auto;}
/* 160x140 Ê×ÆÁÓÒ*/
#ad_D{width:160px;height:140px;text-align:left;margin:0 auto;_margin /*IE5.5*/:0 auto;padding-top:10px;padding-bottom:2px}
#ad_D .ad160x140{margin:0 auto;}
/* 160x140 ¶þÆÁÓÒ*/
#ad_E{width:160px;height:140px;text-align:left;margin:0 auto;_margin /*IE5.5*/:0 auto;padding-top:10px;}
#ad_E .ad160x140{margin:0 auto;}
#ad_E_A{width:160px;height:236px;padding-top:10px;margin:0 auto}
#ad_E_A .ad160x236{margin:0 auto;}
/* ÎÄ×ÖÁ´½Ó ¶þÆÁÓÒ*/
#ad_F{width:160px;line-height:20px;margin:0 auto;_margin /*IE5.5*/:0 auto;padding-top:8px;}
#ad_F li a{text-decoration:underline;}
/* 760x100 ÈýÆÁ¶¥*/
#ad_G{background:#fff;width:760px;height:100px;text-align:left;margin:0 auto;_margin /*IE5.5*/:0 auto;padding-bottom:10px;float:left;}
#ad_G .ad760x100{margin:0 auto;}
/* 760x100 ÈýÆÁµ×*/
#ad_H{background:#fff;width:760px;height:100px;text-align:left;margin:0 auto;_margin /*IE5.5*/:0 auto;float:left;}
#ad_H .ad760x100{margin:0 auto;}
/* 160x45 ÈýÆÁÓÒµ×1*/
#ad_I{width:160px;height:45px;text-align:left;margin:0 auto;_margin /*IE5.5*/:0 auto;}
#ad_I .ad160x45{margin:0 auto;}
/* 160x45 ÈýÆÁÓÒµ×2*/
#ad_J{width:160px;height:45px;text-align:left;margin:0 auto;_margin /*IE5.5*/:0 auto;padding-top:8px;}
#ad_J .ad160x45{margin:0 auto;}
/* 160x45 ÈýÆÁÓÒµ×3*/
#ad_K{width:160px;height:45px;text-align:left;margin:0 auto;_margin /*IE5.5*/:0 auto;padding-top:8px;}
#ad_K .ad160x45{margin:0 auto;}
/* 950x103 µ×Í¨*/
#ad_L{background:#fff;width:950px;height:103px;text-align:left;margin:0 auto;_margin /*IE5.5*/:0 auto;float:left;padding-bottom:8px;}
#ad_L .ad950x103{margin:0 auto;}
/* 760x100 ÎåÆÁ¶¥,ÖÐ*/
#ad_M,#ad_O{background:#fff;width:760px;height:100px;text-align:left;margin:0 auto;_margin /*IE5.5*/:0 auto;padding-bottom:10px;}
#ad_M .ad760x100,#ad_O .ad760x100{margin:0 auto;}
#ad_M{*margin-top:-1px;clear:both}
/* 160x170 ÎåÆÁÓÒ1,ÓÒ2*/
#ad_N,#ad_P{width:160px;height:170px;text-align:left;margin:0 auto;_margin /*IE5.5*/:0 auto;}
#ad_N .ad160x170,#ad_N .ad160x170{margin:0 auto;}
/* 160x260 ÎåÆÁÓÒ1*/
#ad_N{margin-bottom:10px;}
/* 470x100 Ô­µ×Í¨ÐÞ¸ÄÎª470x2*/
#ad_Q .adLeft{float:left;width:470px;line-height:0;}
#ad_Q .adRight{float:right;width:470px;line-height:0;}
/* 160x310 */
#ad_R div img{display:block}

#ad_T{width:160px;margin:0 auto;height:245px;padding:8px 0}
#ad_W{width:160px;margin:0 auto;height:475px;padding:10px 0}

/* ÊéÇ© */
.columnA{margin:5px 0 0 6px}
.menu140L{width:19px;float:left;background:url(../images/bg.png);margin:5px auto 0;margin-top:4px\9}
.menu140L li{width:19px;float:left;background:url(../images/icon01_120104.png);overflow:hidden;color:#333;height:33px;padding-top:3px;height:31px\9;padding-top:5px\9;margin-bottom:7px;cursor:pointer;}
.menu140L li.ad_Tabopen{background:#ffe784;}
.menu140L li.ad_Tabclose{background:#ececec;}
.menu140L li a,.menu140L li a:hover{color:#333;text-decoration:none}
.menu140L #hbTab2{margin-bottom:0}
.columnA .txtList{float:right;width:115px;}

/* 450Banner */
.columnM{margin-top:5px}
.columnM .list12 li{width:112px;float:left;_margin-left /* IE5.5 */:0px;}
.columnM .list12 ul.col-thr li{width:155px;overflow: hidde;}
.columnM .ad450{margin:4px auto 7px;text-align:left;}

/* 145ÊéÇ© */
.columnB{margin-top:5px}
.menu150R{width:19px;float:left;background:url(../images/bg.png) 0 -20px;margin:5px auto 0;margin-top:4px\9}
.menu150R li{width:19px;float:left;background:url(../images/icon01.png) -40px 0;overflow:hidden;color:#333;height:40px;padding-top:9px;height:38px\9;padding-top:11px\9; margin-bottom:4px;cursor:pointer;}
.menu150R li.ad_Tabopen{background:#ffe784;}
.menu150R li.ad_Tabclose{background:#ececec;}
.menu150R #focusTab4{margin:0 auto;padding:0;padding-top:2px;height:50px;height:48px\9;padding-top:4px\9;}
.columnB .txtList{float:right;width:125px;display:inline;}
.columnB .txtList .list12 ul li{_margin /*IE5.5*/:0 -15px;}

/* ÓÒ160Í¼Æ¬ */
.columnC .bord04{width:1px;height:230px;font-size:1px;float:left;margin:0;}

/* ËÑ¹·ËÑË÷ ÐÂ 2012.8.8 */
#sogou-search .search-focus,#sogou-search .sogou-logo .logo,#sogou-search .sogou-icon ul,#sogou-search .search-focus .search-tag .tag-con{background:url(../images/sogou_bg02.gif) no-repeat}
#sogou-search{width:948px;height:58px;margin:0 auto;border:1px #A9CFE3 solid;background:url(../images20130624/sohubg01.png) repeat-x 0 -90px;}
#sogou-search a{color:#223d7c}
#sogou-search a:hover{color:#c00}
#sogou-search .sogou-logo{width:133px;padding-left:1px;height:58px;float:left;display:inline}
#sogou-search .sogou-logo .logo{width:118px;height:34px;margin:13px auto 0 6px;background:url(../images20140418/sogou_logo01.gif);line-height:500px;overflow:hidden}
#sogou-search .sogou-logo .logo a{width:100%;height:100%;display:block}
#sogou-search .search-focus{width:465px;height:32px;margin-top:13px;display:inline;float:left;background-position:0 0}
#sogou-search .search-focus .search-tag{z-index:500;position:relative;width:49px;height:26px;float:left;display:inline;margin:5px 0 0 2px;}
#sogou-search .search-focus .search-tag .tag-con{cursor:pointer;text-align:left;text-indent:10px;color:#333;font-size:14px;line-height:22px;*line-height:24px;background-position:-130px -40px}
#sogou-search .search-focus .search-tag .tag-con-bg{background-position:-200px -40px}
#sogou-search .search-focus .search-tag ul{display:none;position:absolute;top:26px;left:-2px;width:53px;border:1px #C1C1C1 solid;background:#fff;}
#sogou-search .search-focus .search-tag li{height:28px;line-height:28px;font-size:14px;text-align:left;}
#sogou-search .search-focus .search-tag li a{color:#333;display:block;width:53px;height:28px;text-indent:11px;text-decoration:none}
#sogou-search .search-focus .search-tag li a:hover{background:#F1F1F1}
#sogou-search .search-focus .search-input{float:right;width:411px}
#sogou-search .search-focus .search-input .input-text{outline:none;border:0;background:none;width:316px;height:32px;height:23px\9;padding:0 1px 0 6px;padding-top:9px\9;display:inline;float:left;color:#999;font-size:14px;line-height:16px\9;}
:root #sogou-search .search-focus .search-input .input-text{height:30px;padding-top:2px;line-height:16px}
#sogou-search .search-focus .search-input .input-btn{cursor:pointer;width:88px;height:32px;float:right;display:inline;border:0;background:none;color:#000;font-size:14px;}
#sogou-search .sogou-hot{width:235px;float:left;display:inline;margin:7px 0 0 14px;*margin-top:8px;line-height:22px;text-align:left}
#sogou-search .sogou-icon{width:93px;float:right;display:inline;padding-right:1px;height:58px}
#sogou-search .sogou-icon ul{background-position:-270px -35px;margin:7px auto 0;*margin-top:8px;line-height:22px}
#sogou-search .sogou-icon li{padding-left:25px;text-align:left}

/* suggestion */
.suggestion {font: 14px/20px arial;text-align: left;border:1px solid #D0D0D0;border-top:0;}
.suggestion ul {background: #fff;width: 304px;*width: 302px; _width: 302px; line-height: 24px;margin-left:1px;padding:1px; z-index:10000;}
.suggestion ul span {color: #636363; text-decoration: underline}
.menuitem{list-style:none;margin:0