/* Copyright (c) 2013 Admotion */

body {
	margin:0;
	padding:0;
    overflow: hidden;
}

.hittable{
	cursor:pointer;
	background-color: rgba(255, 0, 0, 0);
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	z-index:50;
}

.coverAll {
	margin:0;
	padding:0;
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	z-index:50;
}

.unselectable {
	/* For Opera and <= IE9, we need to add unselectable="on" attribute onto each element */
	/* Check this site for more details: http://help.dottoro.com/lhwdpnva.php */
	-moz-user-select: none; /* These user-select properties are inheritable, used to prevent text selection */
	-webkit-user-select: none;
	-ms-user-select: none; /* From IE10 only */
	user-select: none; /* Not valid CSS yet, as of July 2012 */
	-webkit-user-drag: none; /* Prevents dragging of images/divs etc */
	user-drag: none;
}

/* In-Page Section */
.inpage-section {
	overflow: hidden;
	display: none;
}

/* Custom */
.inpage-section #Creativity {
	position: absolute;
	margin: 0px;
	left: 0px;
	top: 0px;
	right: auto;
	bottom: auto;
	overflow: hidden;
	display: block;
	width: 100%;
	height: 100%;
}