/*!CK:2553366251!*//*1446439070,*/

@-moz-keyframes show{0%{opacity:0}100%{opacity:1}}
.pluginFacepileConnectLast,.pluginFacepileConnectConnected .pluginFacepileConnectFirst{-moz-animation:show .4s;display:inline-block !important}.pluginFacepileConnectFirst,.pluginFacepileConnectConnected .pluginFacepileConnectLast{display:none !important}
a._5sap{text-decoration:none}

._h7l{background:#f6f7f8;border:1px solid #e9eaed;border-top:0;overflow-y:auto}._h7l>div{box-sizing:border-box;height:100%;position:relative;width:100%}._h7n{background:#fff;border-color:#e9eaed #dfe0e4 #d0d1d5;border-radius:2px;box-shadow:0 1px 2px rgba(0, 0, 0, .12);position:relative}._h7n ._h7o{margin:2px 0;position:absolute;right:8px}._h7r{width:100%}._2p3a ._3x-2{overflow:hidden}
._3o6i{margin-bottom:10px}._57i_{color:#4e5665;line-height:1.358;margin-bottom:2px}._57i_ a{color:#141823;font-weight:bold}._57j2 ._57j3 li{margin-right:2px;margin-top:2px}
._1drm{background:#fff;overflow:hidden;position:relative}._1drm ._1drn{border:1px solid #000}._1drm ._1dro{bottom:40px;left:0;position:absolute;right:0;top:0;z-index:1}._1b90 ._1dro{bottom:0}._2zfs{background:-moz-linear-gradient(to bottom, rgba(0, 0, 0, .7) 0%, rgba(0, 0, 0, 0) 100%);background:linear-gradient(to bottom, rgba(0, 0, 0, .7) 0%, rgba(0, 0, 0, 0) 100%);height:100%;left:0;position:absolute;top:0;width:100%;z-index:-1}._1dro ._1drp{color:#3b5998;display:inline-block;font-size:18px;font-weight:500;line-height:1.358;margin-bottom:-5px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}._1dro ._1drq{color:#141823;font-size:12px;line-height:1.358;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}._1drm ._1z7u{bottom:0;height:24px;left:0;position:absolute;right:0;z-index:2}._4o5p .pluginConnectButtonConnected,._4o5p .pluginConnectButtonDisconnected,._4o5q button{background-clip:padding-box;border:1px solid rgba(0, 0, 0, .12)}._1drm._1b90,._1drm._1ds4{border:1px solid #e9eaed}._1drm._1ds3 ._1drn{border:2px solid #fff;box-shadow:0 1px 6px rgba(0, 0, 0, .5)}._1drm._1ds3 ._1drp,._1drm._1ds3 ._1drq{color:#fff;text-shadow:0 2px 4px rgba(0, 0, 0, .9)}._1drm._1ds4 ._1z7u{background:#f6f7f8;border-top:1px solid #e9eaed;padding-top:7px}
._1_lj{color:#4e5665;line-height:1.358;text-align:center}._1_lj:hover{text-decoration:none}div._1_lk{margin-left:0;margin-top:0}._1_lk ._5jmm{border:0;box-shadow:0 1px 2px rgba(0, 0, 0, .12);margin-bottom:0;margin-top:10px}._1_lk ._5jmm:first-of-type{margin-top:0}._1_lk ._2gy7{font-size:12px}._2f7y{padding-top:8px;text-align:center}
.pluginConnectButton a._opc,form.async_saving a._opc{margin:0;opacity:1}.pluginConnectButton a._opd{color:#9197a3}
._29bd,._29bd:hover{text-decoration:none}
._2162{margin:0 12px}._2163{display:inline-block;line-height:1.358}._2164{border:0;margin:0;width:auto}._2165,._22v4{display:block}._2166{bottom:3px;position:relative}._2167{bottom:2px;position:relative}
._36iq{border-top:1px solid #f0f0f0;color:#7f7f7f;cursor:pointer;font-size:12px;font-weight:bold;line-height:16px;text-align:center}._2yf7{vertical-align:bottom}._36iq._4ivs{color:#5890ff}._2yf7._5jp{display:inline-block}._2yf7._3wdt{display:none}._4ivs ._5jp{display:none}._4ivs ._3wdt{display:inline-block}
._1p6f{display:block;width:100%}._1p6g{height:auto}._1p6h{height:100%;width:auto}
._523u{display:inline}
._2l7q{background:#000;box-shadow:none}._2l7q img{margin:0 auto}
.sp_vMLuiSYA4bK{background-image:url(/rsrc.php/v2/ys/r/qeFviBhwwcm.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_vMLuiSYA4bK.sx_2e3512{width:15px;height:14px;background-position:0 -188px}.sp_vMLuiSYA4bK.sx_ee3669{background-position:0 -18px}.sp_vMLuiSYA4bK.sx_18293e{background-position:0 -35px}.sp_vMLuiSYA4bK.sx_6da0f8{background-position:0 -52px}.sp_vMLuiSYA4bK.sx_70cf4a{background-position:0 -69px}.sp_vMLuiSYA4bK.sx_11e0f1{background-position:0 -86px}.sp_vMLuiSYA4bK.sx_255821{background-position:0 -103px}.sp_vMLuiSYA4bK.sx_bb9942{height:17px;background-position:0 0}.sp_vMLuiSYA4bK.sx_e2fc50{background-position:0 -120px}.sp_vMLuiSYA4bK.sx_8f87f5{background-position:0 -137px}.sp_vMLuiSYA4bK.sx_b5c827{width:14px;height:14px;background-position:0 -203px}.sp_vMLuiSYA4bK.sx_7775c5{background-position:0 -154px}.sp_vMLuiSYA4bK.sx_56d8d1{width:14px;height:10px;background-position:0 -291px}.sp_vMLuiSYA4bK.sx_035519{width:14px;height:14px;background-position:0 -218px}.sp_vMLuiSYA4bK.sx_579404{background-position:0 -171px}.sp_vMLuiSYA4bK.sx_4c6a77{width:13px;height:14px;background-position:0 -263px}.sp_vMLuiSYA4bK.sx_07e2c3{width:14px;height:14px;background-position:0 -233px}.sp_vMLuiSYA4bK.sx_433123{width:14px;height:12px;background-position:0 -278px}.sp_vMLuiSYA4bK.sx_44743e{width:14px;height:14px;background-position:0 -248px}.sp_vMLuiSYA4bK.sx_e51762{width:14px;height:10px;background-position:0 -302px}

#bootloader_qj2ve { height: 42px; }
.bootloader_qj2ve { display:block !important; }