/*!CK:4265882655!*//*1443129178,*/

._5ud-{float:right;margin-right:0}._1aic{min-width:325px}._5ud_{width:100%}.__0y{width:200px}._aop{color:#666}._5ud_ a{font-size:14px;font-weight:500}._5ud- a{font-size:12px}
.fbPageBanner{position:relative;z-index:301}.hideBanner .fbPageBanner,.fixedBody .fbPageBanner{display:none}.fbPageBannerInner{margin:auto;max-width:950px;min-width:920px}.sidebarMode .fbPageBannerInner{left:-102px;position:relative}
span.FollowLink .followLinkInlineCheck{display:inline;margin-right:4px}.followLinkSubscribed{cursor:default}
._1r5y{width:225px}._2u6q{display:flex;align-items:center;width:100%}._2u6q>._2u6r{flex:1}._3jfy{border-color:#e9eaed;border-style:solid;border-width:1px 0 0 0;padding-top:10px}._4-9.selected a{color:#0c121e}._4-9 a{color:#9197a3}._1j8u{height:24px}._2rcs{display:inline}
#mobile_mirror_banner{position:relative;z-index:300}
._7m2{height:137px;left:0;position:absolute;top:0;width:100%}._h5y{height:137px;overflow:hidden}._7lj{height:155px;position:relative;top:-11px;width:370px}._7m4{background:url(/rsrc.php/v2/yG/r/8RHv8nDQAHL.png) repeat-x left top;bottom:0;height:93px;position:absolute;width:100%}._7lh{display:none}._53ih ._7lh{border-left:1px solid rgba(0, 0, 0, .25);border-top:1px solid rgba(0, 0, 0, .25);display:block;height:11.31px;overflow:hidden;position:absolute;top:0;width:11.31px}._53ih._4nfk ._7lh{background-color:#373e4d}._7lh ._7lj{top:0}._53ih ._7lh,._53ih ._7lh ._7lj,._53ih ._7lh ._1ubp{-moz-transform-origin:0 0}._7lf._53ih ._7lh,._7lf._53ih ._7lh ._7lj,._7lf._53ih ._7lh ._1ubp{-moz-transform-origin:100% 0}._1ubp{display:none}.MediaTagHovercardStage ._1ubp{background-color:rgba(0, 0, 0, .5);display:block;height:11px;left:0;position:absolute;top:0;width:24px}
div._4-7n ._572u{border-bottom-left-radius:2px;border-bottom-right-radius:2px;margin:0;padding:6px 7px 6px 8px}._4-7n._157k ._53ik ._53io{background-image:url(/rsrc.php/v2/yq/r/LXQaqfwANV7.png);background-repeat:no-repeat;background-size:auto;background-position:0 -59px}._4-7n ._h5y{border-top-left-radius:2px;border-top-right-radius:2px}
._5l9y{color:#c4cde0;text-decoration:underline}div._3d9x{background-color:#355089;border:1px solid #4e69a2;color:#c4cde0}
._2eg_{background-color:#f6f7f8;border-bottom:1px solid #d3d6db;display:block;height:43px;overflow:hidden;position:relative}._2eh0{display:inline;line-height:43px;padding:12px 0 8px 12px;text-align:center;width:400px}._2eh1{float:right;margin:0 5px 0 0;padding:12px 12px 8px 12px}._2eh2{line-height:25px}._2eh3{max-width:84%;min-height:35px;text-overflow:ellipsis}
.sp_YTrt2mxwDsp{background-image:url(/rsrc.php/v2/yq/r/LXQaqfwANV7.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:20px;width:20px}.sp_YTrt2mxwDsp.sx_2f28d4{width:16px;height:16px;background-position:0 -42px}.sp_YTrt2mxwDsp.sx_4bd198{width:12px;height:12px;background-position:0 -68px}.sp_YTrt2mxwDsp.sx_03664b{width:16px;height:8px;background-position:0 -59px}.sp_YTrt2mxwDsp.sx_185fff{background-position:0 0}.sp_YTrt2mxwDsp.sx_aceddb{background-position:0 -21px}
.sp_mx8lDJ8ScJK{background-image:url(/rsrc.php/v2/yk/r/9y0K55pmC0W.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:12px;width:12px}.sp_mx8lDJ8ScJK.sx_bd8309{width:9px;height:11px;background-position:0 -41px}.sp_mx8lDJ8ScJK.sx_a63321{width:14px;height:14px;background-position:0 0}.sp_mx8lDJ8ScJK.sx_45c102{background-position:0 -15px}.sp_mx8lDJ8ScJK.sx_85b85f{background-position:0 -28px}

#bootloader_A2DIY { height: 42px; }
.bootloader_A2DIY { display:block !important; }