body {
    font-family: Arial, sans-serif;
    margin: 0px;
}
#ad {
    position: absolute;
    display: block;
    overflow: hidden;
    width: 728px;
    height: 90px;
    background: #110b11;
    -moz-user-select:    -moz-none;
    -khtml-user-select:       none;
    -webkit-user-select:      none;
    -ms-user-select:          none;
    user-select:              none;
}
#banner {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#voiture_1 {
    position: relative;
	top:0px;
	left:0px;
	display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#trait {
    position: absolute;
	top:0px;
	left:-100%;
	display: block;
    width: 270px;
    height: 70px;
    overflow: hidden;
}
#trait.animate {
	left:0px;
    -webkit-transition:  all 0.8s ease-in-out;
    -moz-transition:     all 0.8s ease-in-out;
    -ms-transition:      all 0.8s ease-in-out;
    -o-transition:       all 0.8s ease-in-out;
    transition:          all 0.8s ease-in-out;
}
#trait.animate_2 {
	opacity:0;
}
#texte_1 {
    position: absolute;
    top: 22px;
    left: -50%;
    display: block;
    width: 270px;
    height: 22px;
    overflow: hidden;
}
.texte_1 {
	top:-22px;
	left: -297px;
}
#texte_1.animate {
	left:0px;
}
#texte_1.animate_2 {
	left:-50%;
}

#texte_2 {
    position: absolute;
	top:48px;
	left:-100%;
	display: block;
    width: 270px;
    height: 20px;
    overflow: hidden;
}
.texte_2 {
	top:-48px;
	left: -297px;
}
#texte_2.animate {
	left:0px;
}
#texte_2.animate_2 {
	left:-100%;
}

#france {
    position: absolute;
    top: 30px;
    left: 668px;
    display: block;
    width: 60px;
    height: 60px;
    overflow: hidden;
    opacity: 0;
}
.france {
	top:-30px;
	left: -668px;
}
#france.animate {
	opacity:1;
    -webkit-transition:  all 1.5s ease-in-out;
    -moz-transition:     all 1.5s ease-in-out;
    -ms-transition:      all 1.5s ease-in-out;
    -o-transition:       all 1.5s ease-in-out;
    transition:          all 1.5s ease-in-out;
}

#moteur {
    position: absolute;
	top:0px;
	left:0px;
    width: 728px;
    height: 90px;
    overflow: hidden;
	opacity:0;
}
.moteur {
	top:-90px;

}
#moteur.animate {
	opacity:1;
}

#footer {
    position: absolute;
	top:100%;
	left:0px;
    width: 728px;
    height: 90px;
    overflow: hidden;
}
.footer {
	top:-90px;
}
#footer.animate {
	top:0;
}

#voiture_2 {
    position: absolute;
	top:0px;
	left:0px;
    width: 728px;
    height: 90px;
    overflow: hidden;
	opacity:0;
}
.voiture_2 {
	top:-180px;
}
#voiture_2.animate {
	opacity:1;
}

#texte_cta {
    position: absolute;
	top:-10%;
	left:0px;
    width: 728px;
    height: 196px;
    overflow: hidden;
	opacity:0;
}
.texte_cta {
	top:-180px;
}
#texte_cta.animate {
	opacity:1;
	top:0;
    -webkit-transition:  all 0.5s ease-in-out;
    -moz-transition:     all 0.5s ease-in-out;
    -ms-transition:      all 0.5s ease-in-out;
    -o-transition:       all 0.5s ease-in-out;
    transition:          all 0.5s ease-in-out;
}

#cta {
    position: absolute;
	top:181px;
	left:0px;
    width: 728px;
    height: 40px;
    overflow: hidden;
	opacity:0;
}
.cta {
	top:-690px;
}
#cta.animate {
	opacity:1;
	top:191px;
    -webkit-transition:  all 0.5s ease-in-out;
    -moz-transition:     all 0.5s ease-in-out;
    -ms-transition:      all 0.5s ease-in-out;
    -o-transition:       all 0.5s ease-in-out;
    transition:          all 0.5s ease-in-out;
}

#condition {
    position: absolute;
	top:231px;
	left:0px;
    width: 728px;
    height: 12px;
    overflow: hidden;
	opacity:0;
}
.condition {
	top:-736px;
}
#condition.animate {
	opacity:1;
	top:235px;
    -webkit-transition:  all 0.5s ease-in-out;
    -moz-transition:     all 0.5s ease-in-out;
    -ms-transition:      all 0.5s ease-in-out;
    -o-transition:       all 0.5s ease-in-out;
    transition:          all 0.5s ease-in-out;
}

#fin {
    position: absolute;
	top:0px;
	left:0px;
    width: 728px;
    height: 90px;
    overflow: hidden;
	opacity:0;
}
.fin {
	top:-270px;
}
#fin.animate {
	opacity:1;
}
#fin.animate_2 {
	opacity:0;
}
#logo {
    position: absolute;
	top:0px;
	left:0px;
    width: 728px;
    height: 130px;
    overflow: hidden;
	opacity:0;
}
.logo {
	top:-270px;
}
#logo.animate {
	opacity:1;
}
#logo.animate_2 {
	opacity:0;
}
#motion {
    position: absolute;
	top:130px;
	left:0px;
    width: 728px;
    height: 50px;
    overflow: hidden;
	opacity:0;
}
.motion {
	top:-880px;
}
#motion.animate {
	opacity:1;
}
#motion.animate_2 {
	opacity:0;
}

#cta_2 {
    position: absolute;
	top:189px;
	left:0px;
    width: 728px;
    height: 35px;
    overflow: hidden;
	opacity:0;
}
.cta_2 {
	top:-939px;
}
#cta_2.animate {
	opacity:1;
}
#cta_2.animate_2 {
	opacity:0;
}

.img_jpg {
    position: absolute;
    display: block;
    width: 728px;
    height: 360px;
    background-image: url("img_jpg.jpg");
}
.img_png {
    position: absolute;
    display: block;
    width: 728px;
    height: 360px;
    background-image: url("img_png.png");
}



.clickthrough {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 728px;
    height: 90px;
    border: 1px solid #464646;
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing:      border-box;
    -ms-box-sizing:     border-box;
    box-sizing:         border-box;
    cursor: pointer;
}

.smooth {
    -webkit-transition:  all 1s ease-in-out;
    -moz-transition:     all 1s ease-in-out;
    -ms-transition:      all 1s ease-in-out;
    -o-transition:       all 1s ease-in-out;
    transition:          all 1s ease-in-out;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility:    hidden;
    -ms-backface-visibility:     hidden;
    backface-visibility:         hidden;
    -webkit-transform:  translate3d(0, 0, 0);
    -moz-transform:     translate3d(0, 0, 0);
    -ms-transform:      translate3d(0, 0, 0);
    transform:          translate3d(0, 0, 0);
}

