/* È«¾ÖCSS¶¨Òå */
body{font-family:"\5B8B\4F53","Arial Narrow",HELVETICA;text-align:center;margin:0 auto;padding:0;background:#FFF;font-size:12px;color:#333;}
body > div{text-align:center;margin-right:auto;margin-left:auto;} 
div,form,ul,ol,li,span,p{margin:0;padding:0;border:0;}
img,a img{border:0;margin:0;padding:0;}
h1,h2,h3,h4,h5,h6{margin:0;padding:0;font-size:12px;font-weight:normal;}
ul,ol,li{list-style:none}
table,td,input{font-size:12px;padding:0}
/* Ä¬ÈÏÁ´½ÓÑÕÉ« */
a{outline-style:none;color:#333;text-decoration:none}
a:hover{color:#c00;text-decoration:underline;}

/*Çå³ýÁ´½ÓÐé¿ò*/
/*a,area {blr:expression(this.onFocus=this.blur()) }  for IE 
:focus {-moz-outline-style: none; }  for Firefox   
*/

/* ÁÐ±íÊôÐÔ */
.list12 li,.list14 li{background:url(http://images.sohu.com/uiue/dot.gif) no-repeat -1px -47px;*background-position:-1px -48px;padding-left:13px;}

.list12 UL{width:100%;margin:0px auto;_margin /* IE5.5 */:0;}
.list12 li,.list12 p{background-position:-1px -49px;*background-position:-1px -50px;padding-left:12px;color:#223d7c;line-height:22px;font-size:12px;text-align:left;_margin-left /* IE5.5 */:-16px;}
.list12 li a,.list12 p a{color:#223d7c;}
.list12 li a:hover,.list12 p a:hover{color:#c00}
.list12 li img {margin-right:2px;}

.list14 UL{width:100%;margin:0px auto;_margin /* IE5.5 */:0;}
.list14 li,.list14 p{color:#223d7c;line-height:26px;font-size:14px;text-align:left;_margin-left /* IE5.5 */:-16px;}
.list14 li a,.list14 p a{color:#223d7c;}
.list14 li a:hover,.list14 p a:hover{color:#c00}
.list14 li img {margin-right:2px;}

.list14 li.no-dot,.list12 li.no-dot{background:none}
.list14 li.no-dot-pad,.list12 li.no-dot-pad{background:none;padding-left:0}
.no-dot-list li{background:none;padding-left:0}

/* Í¼»ì */
.PTGA{margin:10px auto}
.PTGA .picL{width:100px;float:left;}
.PTGA .picL img{border:1px #EDEDED solid;}
.PTGA .picL span{background:#EDEDED;float:left;width:100px;line-height:22px}
.PTGA .picL a{color:#333;}
.PTGA .picL a:hover{color:#c00;}
.PTGA .list12{_width /*IE5.5*/:auto;margin:6px auto 0;float:right;}
.PTGA .list14{_width /*IE5.5*/:auto;margin:0 auto;float:right;}

/* ÑÕÉ« */
.red,.red a{color:#c00!important;text-decoration:none;}
.red a:hover{color:#c00!important;text-decoration:underline;}
.blue,.blue a{color:#2a52c7!important;text-decoration:none}
.blue a:hover{color:#2a52c7!important;text-decoration:underline}
.black,.black a{color:#000!important;text-decoration:none}
.black a:hover{color:#000!important;text-decoration:underline}
.white{background:#fff;}

/* ÁÐ±í±êºì±êºÚÁ´½Ó */
.list14 li span.red-n{color:#c00;text-decoration:none;} 
.list14 li span.black-n{color:#000;text-decoration:none;}
.list14 li span.blue-n{color:#2a52c7;text-decoration:none;} 
.list14 li span.red{color:#c00;text-decoration:underline;}
.list14 li span.black{color:#000;text-decoration:underline;}
.list14 li span.blue{color:#2a52c7;text-decoration:underline;}

.list12 li span.red-n{color:#c00;}