#cookiedHero .novideo-bg{background-image:url("https://www.paypalobjects.com/webstatic/en_GB/mktg/wright/home/uk_pl_de_fr_homepage-hero_1x.jpg")}html[data-device-type="dedicated"] #fixed-top,html[data-device-type="portable"] #fixed-top{min-height:530px}#n1{padding-bottom:0;box-shadow:0 -1px rgba(0,0,0,0.1)}#rtb3 .contentHead{min-height:40px}section.steps-section.row-fluid.white h3{margin-top:50px}html[data-device-type="mobile"] .steps-section{margin-bottom:20px}html[data-device-type="mobile"] .steps-section h3{padding-left:3.75%;padding-right:3.75%}@media (max-width:768px) and (orientation:portrait){html[data-device-type="portable"] #hero{width:100%}html[data-device-type="portable"] .hero .hero-cta .btn{width:auto}}html[data-device-type="mobile"] .panel .steps-section div+div{padding:20px}html[data-device-type="mobile"] .panel section.steps-section>div{padding:0}html[data-device-type="mobile"] .hero-cta{margin-bottom:20px}html[data-device-type="mobile"] .hero .btn.how-pp-works{margin:20px auto}.icon-play{display:inline-block;position:relative;width:32px;height:17px;color:#FFF;text-indent:-999em;vertical-align:middle;margin-right:12px}.icon-play:after{content:'';position:absolute;top:0;left:11px;width:0;height:0;border:14px solid rgba(0,0,0,0);border-width:7px 14px;border-left-color:#fff;overflow:hidden}a.how-pp-works{background:rgba(0,0,0,0);border:1px solid #FFF;margin-left:20px}html[data-device-type="dedicated"] a.how-pp-works:hover{background:rgba(0,0,0,0)}#rtb2{padding-top:30px}html[data-device-type="dedicated"] .nav-simple header[role="banner"],html[data-device-type="portable"] .nav-simple header[role="banner"]{overflow:hidden}#sticky-nav .pull-right{float:left}html[data-device-type="mobile"] .separator{padding:0}html[data-device-type="mobile"] .devices img{top:20px}.devices{z-index:10}.devices img{position:relative;top:30px}#closing-ct-section .btn{padding:9px 0 10px 0}@media (max-width:768px){html[data-device-type="portable"] .ctatop-sign-up-form .center-block{width:60%}html[data-device-type="portable"] .ctatop-sign-up-form .input-wrapper{width:auto}html[data-device-type="portable"] .ctatop-sign-up-form .input-wrapper:last-child{margin-left:0}html[data-device-type="portable"] .ctatop-sign-up-form input[type="email"]{width:340px}html[data-device-type="portable"] .ctatop-sign-up-form input[type="password"]{width:163px}html[data-device-type="portable"] .ctatop-sign-up-form input[type="submit"]{width:340px}html[data-device-type="portable"] .ctatop-sign-up-form input[type="email"],html[data-device-type="portable"] .ctatop-sign-up-form input[type="password"]{margin-bottom:10px}html[data-device-type="portable"] .c1 .pulloutHeadline:before{background-size:cover}}html[data-device-type="portable"] .c1{margin-top:355px;padding-top:120px}html[data-device-type="portable"] .custom-logos .row-fluid .appslogos{width:33%}html[data-device-type="mobile"] .treatment .btn{display:block}html[data-device-type="mobile"] .ctatop-sign-up .signup-btn{text-align:center}html[data-device-type="mobile"] .ctatop-sign-up .signup-btn .btn{width:95%}html[data-device-type="mobile"] .custom-logos .row-fluid .appslogos{width:100%}html[data-device-type="mobile"] .c1{margin-top:250px;padding-top:84px}html[data-device-type="mobile"] .c1 .pulloutHeadline:before{background-size:cover;top:-290px;height:265px}@media (max-width:480px){html[data-device-type="mobile"] .custom-logos .row-fluid .appslogos{background-size:100% 760%}}

.table-row.hero > #hero {
    text-align: center;
    vertical-align: middle;
}
html[data-device-type="mobile"] #fixed-top > .hugger-row,
html[data-device-type="mobile"] .hero-hugger,
html[data-device-type="mobile"] .hero-hugger-spacer {
    display: none;
}
.hero-hugger {
    text-align: center;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
    z-index: 3;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate(0, 0);
}
.hero-hugger .containerCentered {
    padding-top: 16px;
    line-height: 0.5em;
}
.hero-hugger .button-menu {
    padding: 0;
    margin: 0;
    width: 180px;
    white-space: nowrap;
    text-align: left;
}
.hero-hugger .button-menu li {
    list-style-type: none;
    display: inline-block;
    vertical-align: middle;
    line-height: 14px;
}
.hero-hugger .button-menu .navlink {
    display: inline-block;
    font-size: 13px;
    color: #777;
    padding-left: 8px;
    border-left: 1px solid #ddd;
    position: relative;
    top: -2px;
}
.hero-hugger .country-selector {
    margin-top: 0;
}
.hero-hugger .country-selector a {
    color: #777;
}
html[data-device-type="mobile"] #hero .fancy-down-arrow-grey {
    display: block;
}
#hugger-arrow {
    top: -10px;
}
.button-menu .icon {
    background-color: transparent;
    background-image: url("https://www.paypalobjects.com/webstatic/mktg/wright/icons/quickbar-icons2x.png");
    background-image: url("https://www.paypalobjects.com/webstatic/mktg/wright/icons/quickbar-icons.png")\9;
    background-repeat: no-repeat;
    background-position: -25px 5px;
    background-size: 72px 32px;
    margin: 0 4px 0 0;
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 1px solid #8c8c8c;
    border-radius: 14px;
    overflow: hidden;
    text-indent: -999em;
    min-width: 0;
    padding: 0;
    moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
}
.button-menu .icon:hover,
.button-menu .icon:focus {
    border-color: #0079c1;
}
.button-menu .icon:focus {
    outline: 0;
    box-shadow: 0 0 0 1px #0079c1;
}
.button-menu .icon.help {
    width: 23px;
}
.button-menu .icon.help:hover,
.button-menu .icon.help:focus {
    background-position: -25px -15px;
}
.button-menu .icon.contact {
    background-position: -55px 5px;
}
.button-menu .icon.contact:hover,
.button-menu .icon.contact:focus {
    background-position: -55px -15px;
}
.button-menu .icon.search {
    background-position: 5px 5px;
}
.button-menu .icon.search:hover,
.button-menu .icon.search:focus {
    background-position: 5px -15px;
}
#n1 {
    box-shadow: 0 -1px rgba(0, 0, 0, .1);
}

/* /hero-full.css */
.row-fluid .content-block {
    min-height: 540px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.table-row.hero > #hero {
    text-align: center;
    vertical-align: middle;
}
.novideo-bg {
    display: none;
    background-position: center top;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    height: 400%\9;
    z-index: -1;
}
.no-backgroundsize .novideo-bg { 
    top: -280px\9;
}
.novideo-bg.show {
    display: block;
}
.hero .novideo-bg {
    background-image: url("https://www.paypalobjects.com/webstatic/mktg/wright/home/city_bg_mobile.jpg");
    background-repeat: no-repeat;
    background-color: #f5f5f5;
}
.dark .hero-video-still .novideo-bg {
    background-color: #333;
}
#hero.video-loaded > .novideo-bg {
    display: none;
}
.hero h1 {
    margin-bottom: 20px;    
    line-height: 1.3em;
}
.hero .row-fluid {
    background: transparent;
}
.hero .btn {
    width: 321px;
}
.hero .legal-notes {
    color: #fff;
    line-height: 1.5em;
}
.hero .signup-subline {
    margin-top: 26px;
    font-size: 15px;
    font-size: 1.07142857142857rem;
}
#fixed-top > .table-row.hero > div {
    text-align: center;
    vertical-align: middle;
}
html[data-device-type="dedicated"] .hero-subheadline,
html[data-device-type="portable"] .hero-subheadline {
    margin-bottom: 26px;
    font-size: 18px;
}
html[data-device-type="dedicated"] .hero-hatch,
html[data-device-type="portable"] .hero-hatch {
    margin-top: 26px;
}
/* content on the left half */
html[data-device-type="dedicated"] .hero .span7,
html[data-device-type="portable"] .hero .span7 {
    padding: 0;
    text-align: left;
}
/* Portable */
html[data-device-type="portable"] .hero .btn {
    width: 32%;
}
/* Mobile version */
html[data-device-type="mobile"] .hero .row-fluid .span7 {
    width: 100%;
}
html[data-device-type="mobile"] .hero .span12,
html[data-device-type="mobile"] .hero .span7 {
    padding: 3.75%;
}
html[data-device-type="mobile"] .hero .btn {
    width: 89%;
    display: block;
    margin: 0 auto;
    -webkit-touch-callout: none;    
}
html[data-device-type="mobile"] .hero h1 {
    font-size: 40px;
    font-size: 2.857rem;
    line-height: 1.25em;
    padding: 4% 8% 0;
    text-shadow: none;
    margin-top: 0;
}
html[data-device-type="mobile"] .hero.mobile-img-top .span12 {
    padding-top: 225px;
}
html[data-device-type="mobile"] .hero.mobile-img-top .hero-video-still .novideo-bg {
    background-size: auto 225px;
    background-repeat: no-repeat;
    background-position: right top;
}
html[data-device-type="mobile"] .hero .signup-subline {
    margin-top: 0;
}

