/*ä¸»è¨­å®--------------------------------------------------------------------------------------------------------*/

body {
	font-family: "å¾®è»æ­£é»é«", "Microsoft JhengHei";
	color: #8e8e8e;
}
a {
	color: #367cd0;
}
a:hover {
	color: #000;
}
#container1 {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+27,000000+33,fbe129+33,fbe129+63,fbe129+66,ef2532+66,ef2432+100,fbe129+100,000000+100,ef2432+100 */
background: #000000; /* Old browsers */
background: -moz-linear-gradient(45deg,  #000000 0%, #000000 27%, #000000 33%, #fbe129 33%, #fbe129 63%, #fbe129 66%, #ef2532 66%, #ef2432 100%, #fbe129 100%, #000000 100%, #ef2432 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg,  #000000 0%,#000000 27%,#000000 33%,#fbe129 33%,#fbe129 63%,#fbe129 66%,#ef2532 66%,#ef2432 100%,#fbe129 100%,#000000 100%,#ef2432 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg,  #000000 0%,#000000 27%,#000000 33%,#fbe129 33%,#fbe129 63%,#fbe129 66%,#ef2532 66%,#ef2432 100%,#fbe129 100%,#000000 100%,#ef2432 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ef2432',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
#container2 {
	width: 990px;
	position: relative;
	margin: 0 auto;
}
#container3 {
    background:#fff;
    opacity:0.92;
}
.video-object {
	width: 100%;
	height: 100%;
}
#main {
	width: 950px;
	background: #fff;
	padding: 10px;
	border-radius: 5px;
}
#header, #release, #main, #bottomitem {
	margin: 0 auto;
}
/*header--------------------------------------------------------------------------------------------------------*/

#header {
	width: 950px;
	height: 90px;
	position: relative;
}
#pixnet {
	background: url(images/logo.png) top center no-repeat;
	width: 161px;
	height: 66px;
	display: inline-block;
	margin-top: 12px;
	float: left;
}
#pixnet a {
	display: block;
	width: 100%;
	height: 100%;
}
#search {
	width: 760px;
	height: 37px;
	float: right;
	margin: 30px 0 0 0px;
	position: relative;
	z-index: 9999;
}
.search__input {
	float: left;
	width: 425px;
	height: 35px;
	line-height: 35px\9;
	border: solid 1px #4A74DE;
	padding-left: 35px;
	padding-right: 10px;
	background: #fff url(images/searchicon.png) 8px 8px no-repeat;
	color: #666;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.search__btns {
	float: left;
}
.search__btns.active .search__types, .search__btns:hover .search__types {
	max-height: 70px;
}
.search__types {
	float: left;
	width: 70px;
	max-height: 35px;
	overflow: hidden;
	background-color: #3565da;
	transition: all .3s;
}
.search__submit {
	width: 100%;
	line-height: 35px;
	margin: 0;
	padding: 0;
	border: none;
	color: #fff;
	background-color: transparent;
	cursor: pointer;
	letter-spacing: 1px;
	font-family: inherit;
}
.search__submit:hover {
	background-color: #4A74DE;
}
.search__switcher {
	width: 22px;
	height: 35px;
	display: block;
	background: #3565da url(images/searchselecticon.png) 7px 15px no-repeat;
	text-indent: 101%;
	overflow: hidden;
	white-space: nowrap;
	border-left: solid 1px #d8d8d8;
	float: left;
}
.search__reset {
	float: left;
	display: none;
	margin: 6px 0 0 -30px;
	border: solid 1px #ccc;
	border-radius: 50%;
	font: 900 14px /18px '';
	color: #ccc;
	background: #fff;
	cursor: pointer
}
.search__reset:hover, .search__reset:active {
	text-shadow: 0 0 2px #5b8ae8
}
.search__error {
	width: 380px;
	height: 18px;
	/*display:none;*/
	position: absolute;
	top: 35px;
	left: 1px;
	font-size: 12px;
	color: #999;
	background-color: rgba(255, 255, 255, 0.9);
	padding-top: 2px;
	text-align: center;
	letter-spacing: 1px;
	border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
}
.search__suggestion {
	position: absolute;
	top: 35px;
	left: 0;
	z-index: 2;
	width: 424px;
	display: none;
	overflow: hidden;
	border: 1px solid #ddd;
	border-top: none;
	background-color: #fff;
	border-radius: 0 0 2px 2px;
	box-shadow: 0 1px 2px #cdcdcd;
}
.search__suggestion--show {
	display: block;
}
.search__suggestion__item {
	padding: 4px 10px 4px 35px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.search__suggestion__item--selected {
	background-color: #f1f1f1;
}
.search__suggestion__mark {
	background-color: transparent;
	color: #628ffe;
}
.hot-tag {
	width: 185px;
	height: 26px;
	padding: 9px 0 0 40px;
	background: url(images/hoticon.png) 9px 11px no-repeat;
	float: left;
}
.hot-tag a {
	color: #666
}
.hot-tag a:link {
	color: #666
}
.hot-tag a:visited {
	color: #e30613;
}
.hot-tag a:hover {
	color: #367cd0;
}
.hot-tag a:active {
	color: #367cd0;
}

/*end header--------------------------------------------------------------------------------------------------------*/

/*magic-fox-set*/
#release {
	width: 950px;
	height: 15px;
	position: relative;
	margin-bottom: 5px;
	margin-top: 0px;
}
/*end-magic-fox-set*/
#extradiv5{
    display:none;
}
#fox {
	height: 0;
	display: none;
}
#fox li {
	height: 0px;
}
#info {
	position: absolute;
	font-size: 12px;
}
#info a {
	background: url('images/info-li.jpg') no-repeat left 5px;
	*background-position: left 2px;
	padding: 0 0 0 12px;
	margin: 0px 13px;
}

.announce {
	font-size: 12px;
	position: absolute;
	left: 600px;
	width: 350px;
	height: 1.3em;
	overflow: hidden;
}

.announce a.more {
	width: 15px;
	height: 14px;
	display: block;
	font-size: 12px;
	background: #3565da;
	float: right;
	color: #fff;
	line-height: 0px;
	text-align: center;
	padding-top: 7px;
}
.announce a.more:hover {
	background: #333;
}

/*------------------------------- ç°è²åå¡æ " 4 " åé »éçæåï¼è«æééä¸æ®µ -------------------------------*/
/*
 #header {   background: url('images/header-2.jpg') no-repeat left top ; }
 #navigation {   padding:  0 0 0 92px ;  width: 310px ;   }
 #navigation li {    width: 60px;    }
 #navigation li a{   padding-left: 13px ;        }
 .navi-1  {  top: 0px;   left: 21px;     }
 .navi-2  {  top: 35px;  left: 15px;     }
 #focus {     left: 595px ;  width: 130px ;  }
 #focus li { width: 60px;    float:left ;}
 #focus li a{     padding-left: 13px ;   }
 #focus .focus-2 a   {   color:#fff ;    }
 #focus .focus-3 a  ,  #focus .focus-4 a {   color:#f0f0f0 ; }
 */

#featured {
	width: 590px;
	height: 393px;
	position: relative;
	overflow: hidden;
	margin-bottom: 10px;
}
#feature-box {
	position: absolute;
	width: 590px;
	height: 393px;
}
#feature-title {
	width: 575px;
	height: 34px;
	background: url(images/featuretitlebg.png) top center no-repeat;
	padding: 16px 0 0 15px;
	font-size: 18px;
	letter-spacing: 1px;
	color: #fff;
	position: absolute;
	bottom: 0;
}
#feature-title span {
	display: block;
	width: 460px;
	height: 20px;
	overflow: hidden;
	line-height: 20px;
}
a#feature-link {
	width: 590px;
	height: 393px;
	display: block;
}
#feature-select {
	width: 100px;
	height: 15px;
	position: absolute;
	bottom: 17px;
	right: 0px;
}
#feature-select a {
	width: 18px;
	height: 18px;
	display: block;
	float: left;
}
#feature-select a:hover, #feature-select a:active {
	background: #333;
}
#feature-select a span {
	width: 8px;
	height: 8px;
	display: inline-block;
	margin: 5px;
	background: #FFFFFF;
	text-indent: -5000px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}
#feature-select a.current span {
	background: #FF9900;
}

#feature-box-ul {
	margin: 0 auto;
	white-space: nowrap;
}

#feature-box-ul li {
	-moz-transition: all 0.5s cubic-bezier(0.4, 1.3, 0.65, 1);
	-o-transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s cubic-bezier(0.4, 1.3, 0.65, 1);
	transition: all 0.5s cubic-bezier(0.4, 1.3, 0.65, 1);
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
}

#feature-box-ul, #feature-box-ul li {
	position: relative;
}

#frame0 {
	margin-left: 0%
}
#frame1 {
	margin-left: -100%
}
#frame2 {
	margin-left: -200%
}
#frame3 {
	margin-left: -300%
}
#frame4 {
	margin-left: -400%
}

#feature-box-ul li {
	width: 100%;
	height: 100%;
	display: inline-block;
}

.bin {
	background: url(images/bin_main.jpg);
}
.bin-title {
	height: 30px;
	line-height: 27px;
	background: #fff;
	border: solid 1px #ccc;
}

.bin-title h2 {
	width: 73px;
	height: 26px;
	padding-top: 4px;
	text-align: center;
	background: #3565DA;
	color: #fff;
	line-height: 23px;
	line-height: 27px \9;
}
.bin-title .menu li {
	width: 90px;
	font-size: 12px;
	text-align: center;
	color: #6d6d6d;
	background: url(images/menu_li.jpg) no-repeat right;
}
.bin-title .menu li.current {
	font-weight: bold;
	background: url(images/bin_current.gif);
}


.bin-footer {
	padding: 0px 10px;
}

.box {
	background: #f7f7f7;
	position: relative;
}
.box-title {
	padding-top: 3px;
	width: 96px;
	height: 21px;
	line-height: 20px;
	line-height: 26px \9;
	*line-height: 22px;
	background: #3565da;
	overflow: hidden;
	text-align: center;
	margin-left: 15px;
}
.box-title span {
	color: #fff;
	font-weight: bold;
}
.login {
	width: 350px;
	overflow: hidden;
	background: #f7f7f7;
}

.login .box-title {
	background: none;
	border-bottom: 1px solid #e9e9e9;
}
.login .box-text {
	background: none;
}

#login-1 .box-title {
	background: #3565da;
	color: #fff;
	line-height: 150%;
	line-height: 200% \9;
	text-align: center;
	height: 21px;
	position: static;
}

#login-1 .box-title a {
	position: absolute;
	top: 4px;
	right: 15px;
	width: auto;
	_display: block;
	_width: 197px;
	text-align: right;
	background: url('images/orange-arrow.jpg') no-repeat right 7px;
	color: #de8300;
	padding-right: 10px;
	font-weight: normal;
}

#login-1 .login-bar {
	padding: 8px 10px 5px 10px;
	margin: 0;
	overflow: hidden;
}

#login-1 .login-bar div {
	position: relative;
	float: left;
}

#login-1 .login-bar div span {
	display: block;
	position: absolute;
	top: 0px;
	left: 6px;
	font-size: 12px;
	line-height: 26px;
	color: #AAA;
}

#login-1 .login-bar input {
	bordeR: 1px solid #ccc;
	background: #fff;
	color: #555;
	width: 112px;
	padding: 4px;
	margin-right: 10px;
}

#login-1 .login-bar button.login-send {
	float: right;
	width: 65px;
	height: 26px;
	background: url('images/login_send.jpg') no-repeat left top;
	bordeR: 0;
	color: #2d76cd;
	font-weight: bold;
}

#login-1 .login-check {
	margin-left: 10px;
	vertical-align: -2px;
}

#login-1 .login-forgot {
	float: right;
	margin-right: 10px;
}

#login-1 label {
	float: left;
	color: #888;
	font-size: 12px;
}

#login-1 .login-switch {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 30px;
	text-align: center;
	background: #e9e9e9;
}

#login-1 .login-switch a {
	padding-left: 14px;
	line-height: 30px;
}

#login-1 .login-switch a.switch-normal {
	background: url('images/arrow-down.png') left center no-repeat;
}

#login-1 .login-switch a.switch-openid {
	background: url('images/arrow-up.png') left center no-repeat;
}

#login-1 .login-openid {
	padding: 0;
	margin: 0;
}

#login-1 .login-openid ul {
	list-style: none;
	padding: 6px 0px 0 15px;
	overflow: hidden;
	zoom: 1;
}

#login-1 .login-openid li {
	float: left;
	margin: 0 10px 6px 0;
	padding: 0;
}

#login-1 .login-openid li a {
	display: block;
}

.login-openid-bar {
	display: block;
	width: 320px;
	height: 40px;
	background: url('images/openid-bg.png');
	margin: 10px auto;
}

.login-openid-bar ul {
	height: 40px;
	margin: 6px 6px 0 0;
	float: right;
	display: inline; /* fix for ie6 */
}
.login-openid-bar ul li {
	width: 34px;
	height: 28px;
	float: left;
	overflow: hidden;
	position: relative;
}
.login-openid-bar ul li {
	width: 34px;
	height: 28px;
	float: left;
	overflow: hidden;
}
.login-openid-bar ul li a:hover, .login-openid-bar ul li a:active {
	margin: 0; /* needed to activate ie6 hover/active effects */
}
.login-openid-bar ul li a:hover img, .login-openid-bar ul li a:active img {
	position: absolute;
	margin-top: -28px;
}

#login-2 {
	font-size: 12px;
}

#login-2 a:hover {
	color: #0074ff !important;
}

#login-2 .box-title {
	margin: 0px 8px;
	padding: 0px;
	height: 26px;
	line-height: 200%;
	position: relative;
	width: 334px;
	text-align: left;
}

#login-2 .box-title span {
	top: 1px;
	color: #d4d4d4;
	display: block;
	display:inline-block;
	font-weight: normal;
	text-align: right;
	float:left;
}

#login-2 .box-title span a {
	color: #367cd0;
}

#login-2 .box-title img {
	position: relative;
	bottom: -2px;
	margin-right: 6px;
}

.member-box {
	padding: 7px 7px 0px 8px;
	margin: 0;
}

.member-text a {
	color: #555;
}
.memlink__counter strong{
	color: #f37f1c;
}
.member-img img {
	height: 50px;
	width: 50px;
}

.panel a {
	background: url('images/panel.jpg') no-repeat left top;
	color: #2d76cd;
	line-height: 380%;
}

.function {
	padding: 0 0 0 25px;
}
.function li {
	background: url(images/i_function.gif) no-repeat;
	text-align: left;
	width: 90px;
	padding: 0;
	margin-right: 16px;
}
li.upload-pic {
	background-position: 0 -20px;
}
li.new-murmur {
	background-position: 0 -40px;
}

.new-post a, .upload-pic a {
	background: url('images/function-li.jpg') no-repeat right 4px;
}

.function li a {
	display: block;
	padding-left: 28px;
}
.function a {
	color: #777;
}

#login-3 {
	font-size: 12px;
}

#login-3 .box-title {
	height: 26px;
	line-height: 220%;
	margin: 0 15px;
	padding: 0;
}

#login-3 .box-title a {
	position: absolute;
	top: 0px;
	right: 0px;
	background: url('images/message-toggle.jpg') no-repeat right 8px;
	padding-right: 15px;
}

.message-list {
	margin: 5px 0 0 15px;
}
.message-list li {
	height: 18px;
	*height: 17px;
	width: 180px;
	overflow: hidden;
	margin: 0 !important;
	padding: 0 !important;
	line-height: 100% !important;
}

.message-list li span {
	color: #999;
	font-size: 9px;
}
#topic .bin-title {
	width:590px;
	height: 30px;
	line-height: 27px;
	background: #3565da;
	border:none;
}
#topic-channel {
	background: #F7F7F7;
	height: 90px;
	width: 350px;
	overflow: hidden;
	margin-top: 10px !important;
	float: right;
}


#footer {
	text-align: center;
	padding: 10px 0;
}
.copyright {
	margin-top: 5px;
}
.hide {
	display: none;
}