/*!CK:405646694!*//*1451841376,*/

._5ud-{float:right;margin-right:0}._1aic{min-width:325px}._5ud_{width:100%}.__0y{width:200px}._aop{color:#666}._5ud_ a{font-size:14px;font-weight:500}._5ud- a{font-size:12px}
.fbPageBanner{position:relative;z-index:301}.hideBanner .fbPageBanner,.fixedBody .fbPageBanner{display:none}.fbPageBannerInner{margin:auto;max-width:950px;min-width:920px}.sidebarMode .fbPageBannerInner{left:-102px;position:relative}
#mobile_mirror_banner{position:relative;z-index:300}
div._4-7n ._572u{border-bottom-left-radius:2px;border-bottom-right-radius:2px;margin:0;padding:6px 7px 6px 8px}._4-7n._157k ._53ik ._53io{background-image:url(/rsrc.php/v2/yg/r/SSBlk64LOXX.png);background-repeat:no-repeat;background-size:auto;background-position:0 -42px}._4-7n ._h5y{border-top-left-radius:2px;border-top-right-radius:2px}
._5l9y{color:#c4cde0;text-decoration:underline}div._3d9x{background-color:#355089;border:1px solid #4e69a2;color:#c4cde0}
.sp__IKHeFdSUhG{background-image:url(/rsrc.php/v2/yg/r/SSBlk64LOXX.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:20px;width:20px}.sp__IKHeFdSUhG.sx_c43f53{width:12px;height:12px;background-position:0 -51px}.sp__IKHeFdSUhG.sx_4d7c88{width:16px;height:8px;background-position:0 -42px}.sp__IKHeFdSUhG.sx_11d446{background-position:0 0}.sp__IKHeFdSUhG.sx_9b3112{background-position:0 -21px}

#bootloader_zo4uF{height:42px;}.bootloader_zo4uF{display:block!important;}