<ul class="m-list list-sub list-sub-figure130 interval-dot clearfix">
      <li class="list-figure">
    <div class="m-img"> <a href="http://gz.house.163.com/photonew/5N620087/66237.html"><img src="http://img3.cache.netease.com/news/2016/4/13/20160413075229684fe.jpg" alt="¿´ÊÀ½çÉÏ×îÓµ¼·µÄ³ÇÊÐ" width="130" height="90" />
      <p>¿´ÊÀ½çÉÏ×îÓµ¼·µÄ³ÇÊÐ</p>
      </a> </div>
  </li>
      <li><a href="http://gz.house.163.com/16/0415/22/BKNO5TL60087482R.html">ÖÇ»Û¼Ò?ÖÇÄÜÉçÇøÕæµÄÀ´ÁË!</a></li>
    <li><a href="http://gz.house.163.com/16/0415/16/BKN62I9Q0087482R.html">·¬Ø®¾«×°loft¹«Ô¢½öÍòÔªÆð</a></li>
    <li><a href="http://gz.house.163.com/16/0414/17/BKKMO0AN0087482R.html">ÖÜÄ©14ÅÌÀ´Ï®!Ôö³Ç4ÅÌÍÆÐÂ</a></li>
    <li><a href="http://gz.house.163.com/16/0415/21/BKNKKHJH0087482R.html">±£ÀûÉú»î·½Ê½Õ¹Ê×ÈÕÈË±¬Âú</a></li>
    <li><a href="http://gz.house.163.com/photonew/5N620087/66281.html#p=BKOSCFCV5N620087">ÒÚÍò¸»ÎÌµÄÌìÌÃ±ä¹í³Ç(Í¼)</a></li>
  </ul>
<ul class="m-list list-main">
        <li class="hx"><a href="http://gz.house.163.com/">¹ãÖÝ½«¼ÌÐøÖ´ÐÐÏÞ¹º</a> <a target="_blank" href="http://gz.house.163.com/16/0416/09/BKOTSBT500873C6D.html">·¬Ø®È¥¿â´æÑ¹Á¦×î´ó</a></li>
        <li><a href="http://gz.house.163.com/16/0416/08/BKOT596J00873C6D.html">¹úÎñÔº£º¹«»ý½ð½É´æ±È²»³¬12% ÏÂÔÂÆðÊµÊ©</a></li>
        <li><a href="http://gz.house.163.com/16/0416/07/BKOOHC1400873C6D.html">¹ãÖÝÂ¥ÊÐÈÈ¶È¶ÌÔÝ»ØÂä ÎåÒ»¿ªÅÌ¸ß³±½«ÖÁ</a></li>
        <li><a href="http://gz.house.163.com/16/0415/18/BKNC2D4C0087482R.html">±£Àû"ÐÒ¸£5´Î·½"</a> <a target="_blank" href="http://gz.house.163.com/16/0416/10/BKP3DHN800873CN0.html ">½ðÈÚ½ÖÈÚËëÓù¸®Â¥ÍõÂô8³É</a></li>
        <li><a href="http://gz.house.163.com/16/0415/11/BKMIM9MP0087482R.html">Î÷¹Ø°å¿é½­¾°ÅÌ¼ÛÖµµû±ä</a> <a target="_blank" href="http://gz.house.163.com/16/0414/22/BKL7MGTF0087482R.html">µØÌú½¨Éè½øÈë¸ß·åÆÚ</a></li>
        <li><a href="http://gz.house.163.com/photonew/5N620087/66237.html#p=BKFMEAN85N620087">ÊÀ½çÉÏ×îÓµ¼·³ÇÊÐ</a> <a target="_blank" href="http://gz.house.163.com/photonew/5N620087/66198.html#p=BKDCFB9T5N620087">·òÆÞ´òÆ´20ÄêÂò2Ç§ÍòºÀÕ¬</a></li>
        <li><a href="http://bbs.gz.house.163.com/bbs/blbyc/603908107.html">4.17»ÆÆÒ¹Å¸ÛÃâ·ÑÒ»ÈÕÓÎÕÙ¼¯ °ü²ÍËÍÀñÆ·</a></li>
  </ul>
<div class="tab-ft"> <a href="http://gz.house.163.com/" class="i-entry">½øÈë·¿²úÆµµÀ</a> | <a href="http://xf.house.163.com/gz/#163-1-MF">Âò·¿</a> | <a href="http://e.house.163.com/gz/">µçÉÌ</a> | <a href="http://vhouse.163.com/">º£ÍâÖÃÒµ</a></div>