<ul class="m-list list-sub list-sub-figure130 interval-dot clearfix">
      <li class="list-figure">
    <div class="m-img"> <a href="http://gz.house.163.com/photonew/5N620087/61640.html#p=B049ONKU5N620087"><img src="http://img4.cache.netease.com/house/2015/8/23/20150823111051b3801.png" alt="¹ãÖÝ»ý·ÖÈë»§¹¥ÂÔÆØ¹â" width="130" height="90" />
      <p>¹ãÖÝ»ý·ÖÈë»§¹¥ÂÔÆØ¹â</p>
      </a> </div>
  </li>
      <li><a href="http://gz.house.163.com/15/0823/10/B1MQDQSG00874MPU.html">¹ã¸Ö¼Û³¬4Íò£¿¹«Ô¢65Íò/Ì×</a></li>
    <li><a href="http://gz.house.163.com/15/0823/10/B1MS220K00874MPU.html">·¿´ûÀûÂÊÏÂµ÷£¿ÓÐÅÌ»Ý30Íò</a></li>
    <li><a href="http://gz.house.163.com/15/0823/10/B1MR1C7M00874MPU.html">´Ó»¯³·ÊÐÉèÇøËñÅÌ6×ÖÍ·Æð</a></li>
    <li><a href="http://gz.house.163.com/photonew/5N620087/61526.html?1440298717532#p=AV70DRLA5N620087">½ÒÃØ£¡ÉÏ°ëÄêÄÄÐ©ÅÌ×îÊÜÅõ</a></li>
    <li><a href="http://gz.house.163.com/15/0819/20/B1DJCJ6O0087482R.html">ÖÜÄ©9ÅÌÔ¤ÈÈ¡°½ð¾ÅÒøÊ®¡±</a></li>
  </ul>
<ul class="m-list list-main">
        <li class="hx"><a href="http://gz.house.163.com/">Ëë·¿¼ÛÓÖÕÇÁË:6ÔÂ²»ÂòÂ¥ 7ÔÂ²»¼ûÒ»¸ö²ÞËù</a></li>
        <li><a href="http://gz.house.163.com/15/0823/10/B1MPF8IT00873C6D.html">¹ãÖÝ¶þÊÖ³É½»Í¬±ÈÕÇÆß³É ÄÏÉ³±ðÊû±©ÕÇ500Íò</a></li>
        <li><a href="http://gz.house.163.com/15/0823/10/B1MPCUTD00873C6D.html">Ò»Ïß³ÇÊÐÐÂ·¿¾ù¼Û´óÕÇ24.8% Ôö·ù´´ÎåÄêÐÂ¸ß</a></li>
        <li><a href="http://gz.house.163.com/15/0822/14/B1KNINU80087482R.html">¹ãÖÝÍò´ï³ÇÂ¥Íõ¾¢Ïú</a> <a target="_blank" href="http://gz.house.163.com/15/0822/14/B1KN3HNB00873CN0.html">·¬Ø®²Æ¸»ÂÛÌ³Ô²Âú½áÊø</a></li>
        <li><a href="http://gz.house.163.com/">Ôö³Ç´Ó»¯³·ÊÐÉèÇø Ë­ÓÐ·¿¼Û10ÄêÕÇ3±¶¸£Ïà</a></li>
        <li><a href="http://gz.house.163.com/15/0822/06/B1JRSCLB00873C6D.html">·¿×ÓÒª×¡70ÄêÏÈ²é¹æ»®ºÜÖØÒª ÈýÕÐÃâ³ýÒþ»¼</a></li>
        <li><a href="http://bbs.gz.house.163.com/bbs/housestory/570488732.html">ÇÀÂ¥»î¶¯£º¹Ø×¢ÍøÒ×·¿²ú¹ÙÎ¢ËÍ50Ôª¾©¶«¿¨</a></li>
  </ul>
<div class="tab-ft"> <a href="http://gz.house.163.com/" class="i-entry">½øÈë·¿²úÆµµÀ</a> | <a href="http://xf.house.163.com/gz/#163-1-MF">Âò·¿</a> | <a href="http://e.house.163.com/gz/">µçÉÌ</a> | <a href="http://vhouse.163.com/">º£ÍâÖÃÒµ</a></div>