/*!CK:1333460061!*//*1460640380,*/

.fbPageBanner{position:relative;z-index:301}.hideBanner .fbPageBanner,.fixedBody .fbPageBanner{display:none}.fbPageBannerInner{margin:auto;max-width:950px;min-width:920px}.sidebarMode .fbPageBannerInner{left:-102px;position:relative}
.help_identify .profile_card_image{margin-top:3px}.help_identify #identify_email{margin-bottom:3px;width:255px}.help_identify #identify_profile_url{margin-bottom:3px;width:255px}.help_identify #identify_friends_name{margin-bottom:3px;width:255px}.help_identify #identify_your_name{margin-bottom:3px;width:255px}.help_identify .identify_yourself_dialog_box{margin-left:auto;margin-right:auto}.help_identify .identify_yourself_subtitle{display:block;margin-bottom:2px}.help_identify .identify_yourself_block{margin-left:auto;margin-right:auto;width:330px}.help_identify #identify_yourself_error{margin-top:5px}
div._4-7n ._572u{border-bottom-left-radius:2px;border-bottom-right-radius:2px;margin:0;padding:6px 7px 6px 8px}._4-7n._157k ._53ik ._53io{background-image:url(/rsrc.php/v2/yq/r/LXQaqfwANV7.png);background-repeat:no-repeat;background-size:auto;background-position:0 -59px}._4-7n ._h5y{border-top-left-radius:2px;border-top-right-radius:2px}
._k0{width:100%}._k0 td{padding:5px 4px 7px 4px}._k1:hover{background:#e9eaed}._k2{padding-left:25px}._k3{border-right:1px solid #e8ebf3;width:75%}table._k4 tr td{padding-right:20px}table._k4 tr td input{font-size:40px}._5dr0{font-size:40px}._ye{padding-left:25px;padding-top:25px;width:50%}._41sx ._41sy{border-right-width:0}._41sx ._41s-{border-radius:0;height:22px;line-height:20px}
.fbLoggedOutAccountBlock td{vertical-align:middle}.fbLoggedOutAccountInfo{width:10000px}.fbLoggedOutAccountAuxContent{width:50%}
._5l9y{color:#c4cde0;text-decoration:underline}div._3d9x{background-color:#355089;border:1px solid #4e69a2;color:#c4cde0}div._3d9x .fbPageBannerInner{min-width:100px}
#conf_code_input input{width:70px}.securityq_prompt{padding-bottom:12px}
.uiInterstitial{border-radius:4px;margin-left:auto;margin-right:auto}.uiInterstitialSmall{width:445px}.uiInterstitialLarge{width:555px}.uiInterstitial .interstitialHeader{border-color:#ccc;padding-bottom:.5em}.fullBleed .interstitialHeader{margin:0;padding:4px 12px 10px}.uiInterstitialContent{margin-bottom:15px}.fullBleed .uiInterstitialContent{margin:0;padding:0}.uiInterstitialBar{border-bottom-right-radius:3px;border-bottom-left-radius:3px;-moz-border-radius:0 0 3px 3px;line-height:16px;padding:8px 10px}div.uiInterstitialWithStripes{background:transparent url(/rsrc.php/v2/y9/r/y7MG8IZpiC8.gif) repeat-x;padding-top:15px}
.sp_YTrt2mxwDsp{background-image:url(/rsrc.php/v2/yq/r/LXQaqfwANV7.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:20px;width:20px}.sp_YTrt2mxwDsp.sx_2f28d4{width:16px;height:16px;background-position:0 -42px}.sp_YTrt2mxwDsp.sx_4bd198{width:12px;height:12px;background-position:0 -68px}.sp_YTrt2mxwDsp.sx_03664b{width:16px;height:8px;background-position:0 -59px}.sp_YTrt2mxwDsp.sx_185fff{background-position:0 0}.sp_YTrt2mxwDsp.sx_aceddb{background-position:0 -21px}

#bootloader_oI7B9{height:42px;}.bootloader_oI7B9{display:block!important;}