/* cyrillic */
/*@font-face {
  font-family: 'Renault Life';
  font-style: normal;
  font-weight: 300;
  src: local('RenaultLife Light'), local('RenaultLife-Light'), url(//adventori.com/lp/dd/renault/fonts/RenaultLifeCyrillic.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}*/
/* latin */
/*@font-face {
  font-family: 'Renault Life';
  font-style: normal;
  font-weight: 300;
  src: local('RenaultLife Light'), local('RenaultLife-Light'), url(//adventori.com/lp/dd/renault/fonts/RenaultLifeLatin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}*/
/* cyrillic */
/*@font-face {
  font-family: 'Renault Life';
  font-style: normal;
  font-weight: 400;
  src: local('RenaultLife Regular'), local('RenaultLife'), url(//adventori.com/lp/dd/renault/fonts/RenaultLifeCyrillicSemiBold.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}*/
/* latin */
/*@font-face {
  font-family: 'Renault Life';
  font-style: normal;
  font-weight: 400;
  src: local('RenaultLife Regular'), local('RenaultLife'), url(//adventori.com/lp/dd/renault/fonts/RenaultLifeLatinSemiBold.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}*/
/* cyrillic */
/*@font-face {
  font-family: 'Renault Life';
  font-style: normal;
  font-weight: 700;
  src: local('RenaultLife Bold'), local('RenaultLife-Bold'), url(//adventori.com/lp/dd/renault/fonts/RenaultLifeCyrillicBold.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}*/
/* latin */
/*@font-face {
  font-family: 'Renault Life';
  font-style: normal;
  font-weight: 700;
  src: local('RenaultLife Bold'), local('RenaultLife-Bold'), url(//adventori.com/lp/dd/renault/fonts/RenaultLifeLatinBold.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}*/

@font-face {
  font-family: 'NeotechDacia';
  src : url('/lp/dd/dacia/font/NeotechDacia-Regular.woff2') format('woff2'),
        url('/lp/dd/dacia/font/NeotechDacia-Regular.woff') format('woff'),
        url('/lp/dd/dacia/font/NeotechDacia-Regular.ttf') format('ttf'),
        url('/lp/dd/dacia/font/NeotechDacia-Regular.eot') format('eot'),
        url('/lp/dd/dacia/font/NeotechDacia-Regular.otf') format('otf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'NeotechDacia';
  src : url('/lp/dd/dacia/font/NeotechDacia-Medium.woff2') format('woff2'),
        url('/lp/dd/dacia/font/NeotechDacia-Medium.woff') format('woff'),
        url('/lp/dd/dacia/font/NeotechDacia-Medium.eot') format('eot'),
        url('/lp/dd/dacia/font/NeotechDacia-Medium.ttf') format('ttf'),
        url('/lp/dd/dacia/font/NeotechDacia-Medium.otf') format('otf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'NeotechDacia';
  src : url('/lp/dd/dacia/font/NeotechDacia-Light.woff2') format('woff2'),
  url('/lp/dd/dacia/font/NeotechDacia-Light.otf') format('otf');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'NeotechDacia';
  src :   url('/lp/dd/dacia/font/NeotechDacia-Bold.woff2') format('woff2'),
          url('/lp/dd/dacia/font/NeotechDacia-Bold.woff') format('woff'),
          url('/lp/dd/dacia/font/NeotechDacia-Bold.eot')  format('eot'),
          url('/lp/dd/dacia/font/NeotechDacia-Bold.ttf')  format('ttf'),
          url('/lp/dd/dacia/font/NeotechDacia-Bold.otf')  format('otf');
  font-weight: 700;
  font-style: normal;
}