
<a id="DA_311709434310" class="mosaic--tile__link" href="">
</a>
<script>
  require(['slotplacement/topic', 'jquery'], function (Topic, $) {
    var $ad = $("#DA_311709434310");
    var adParentId=$ad.parent().attr('id');
    var tripletLink, tripletImageAlt, tripletTitle, tripletCallToAction, tripletButtonColor, adVariantContext;
    var imagePaths = {};
    Topic.subscribe('adUpdate', function (pageId, data) {
      injectAd(data);
    }); 
    Topic.subscribe('adError', function () {         
      injectAd({});
    });
    
    
    function tripletImageSrc (device, imagePaths, alt) {
      var size = (device === "small-mobile" ? "mobile" : "desktop");
      var src = "src='"+imagePaths[size]+"'";
      
      var alt = " alt='" + alt + "'";
      
      return "<img " + src + alt + " />";
    }
    
    function injectAd(data){  
      
      var _a = data._a ? data._a.split(',') : [];
      
      function hA(a) {
        if ($.inArray(a, _a) > -1) {
          return true;
        }
        return false;
      }
      
      var rules = {};
      
      
      
      
      
        tripletLink = "https://creditcards.chase.com/compare-cards?list=36,2,4&CELL=65MK";
        
          imagePaths["desktop"] = "/content/services/structured-image/image.desktop.jpg/XCRT/Triplets/2016/Card/Multi-Card/BUG_349808_Compare_cards_triplet_image.jpg";
        
          imagePaths["mobile"] = "/content/services/structured-image/image.mobile.jpg/XCRT/Triplets/2016/Card/Multi-Card/BUG_349808_Compare_cards_triplet_image.jpg";
        
        tripletImageAlt = "Images of airplane, silverware, and dollar and Compare Credit Cards.";
        tripletProductTitle = "";
        tripletProductTitleColor = "";
        tripletCopyText = "<p>  Compare credit cards that offer cash back, travel rewards and more.</p>";
        tripletCallToActionText = "<p>Compare cards &gt;</p>";
        tripletCallToActionType = "Link";
        tripletAlignment = "Left"
        tripletButtonColor = ""
        adVariantContext="tripletLinkId:default;tripletImageId:default;tripletProductTitleId:default;tripletCopyTextId:default;tripletCallToActionId:default;tripletAlignmentId:default";
      
      
      
      
      
      // Dynamic Ad Injection
      var device = $("body").data("device");
      $ad.append(tripletImageSrc(device, imagePaths, tripletImageAlt));
      $ad.attr("href", tripletLink);
      if (tripletAlignment == 'Center') {
        $ad.addClass("center");
      }
      if (tripletProductTitle) {
        
        if(tripletProductTitleColor == 'Blue'){
        var $tripletProductTitleDiv = $('<div class="mosaic--tile--enhanced--title blue"></div>');
        $ad.append($tripletProductTitleDiv.append(tripletProductTitle));
        }
        else {
          var $tripletProductTitleDiv = $('<div class="mosaic--tile--enhanced--title"></div>');
          $ad.append($tripletProductTitleDiv.append(tripletProductTitle));
          
        }
       
      }
      if (tripletCopyText) {
        var $tripletCopyTextDiv = $('<div class="mosaic--tile--enhanced--copy"></div>');
        $ad.append($tripletCopyTextDiv.append(tripletCopyText));
      }
      if (tripletCallToActionText) {
        if (tripletCallToActionType == 'Link') {
          var $tripletCallToActionDiv = $('<div class="mosaic--tile--enhanced--link"></div>');
          $ad.append($tripletCallToActionDiv.append(tripletCallToActionText));
        } else if (tripletCallToActionType == 'Small Button') {
          var $tripletCallToActionDiv = $('<div class="mosaic--tile--enhanced--btn-container"></div>');
          $tripletCallToActionDiv.append($('<div class="mosaic--tile--enhanced--btn cta cta--primary"></div>').append(tripletCallToActionText));
          $ad.append($tripletCallToActionDiv);
          $ad.find(".mosaic--tile--enhanced--btn").addClass(tripletButtonColor);
        }
      }
      Topic('placementComplete').publish(adParentId,adVariantContext);
      $(window).on("resize", function () {
        var currentDevice = $("body").attr("data-device");
        if (currentDevice !== device) { 
          device = currentDevice; 
          $ad.find("img").remove(); 
          $ad.prepend(tripletImageSrc(device, imagePaths, tripletImageAlt)); 
        }
      });
    }
  });
</script>